.container-header {
    align-items: center;
    background-color:#2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 7.313rem;
    margin: 0 auto;
}

.logo-header--img {
    padding-left: 5.125rem;
}

.nav {
    padding-right: 6.438rem;
}

.nav-items {
    color: #FDFDFD;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 2.5rem;
    text-transform: uppercase;
}

.container-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto img"
                         "texto2 img "                                
    ;
    padding-bottom: 5.625rem;
}

.top-title {
    align-self: center;
    color:#009688;
    font-size: 2.938rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    justify-self: end;
    grid-area: texto;
    margin-top: 0;
    margin-bottom: 3.125rem;
    padding-top: 7.625rem;
    width: 28.813rem;
  
}

.top-text {
    align-self: flex-start;
    color:#000000;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    justify-self: end;
    grid-area: texto2;
    margin-top: 0;
    margin-bottom: 3rem;
    width: 28.813rem;
    height: 6.875rem;
}

.top-img {
    grid-area: img;
    padding-top: 3rem;
    padding-left: 5rem;

}


.container-post {
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 0 4.5rem; */
    /* padding-top: 6.25rem; */
    padding-bottom: 10.625rem;
}


.post {
    justify-self: center;
    padding-top: 6.25rem;
    width: 33.5rem;
}

.post1, .post3, .post5 {
    justify-self: end;
    padding-top: 6.25rem;
    width: 33.5rem;
}


.post-img {
    background-color: #c4c4c4;
    height: 16.188rem;
    width: 32.375rem;
}

.post-text {
    color: #000000;
    font-size: 1.063rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1.188rem;
    width: 32.25rem;
}

.post-link {
    color: #FF4081;
    display: inline-block;
    font-size: 1.875rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1.188rem;
}


.container-footer {
    background-color:#419488;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo nav aside";
    max-width: 1440px;
    min-height: 12.938rem;
    margin: 0 auto;
}

.footer-logo {
align-self: center;
grid-area: logo;
margin-left: 3rem;
}

.footer-nav {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.6rem;
grid-area: nav;
}

.footer-nav-links {
color: #FFFFFF;
font-size: 1.25rem;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
line-height: 1.25rem;
}

.footer-other {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.6rem;
grid-area: aside;
}

.footer-other-link {
border: 0.13rem solid #FFFFFF;
border-radius: 3.875rem;
color: #FFFFFF;
font-size: 1.25rem;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
height: 3.188rem;
line-height: 1.25rem;
padding-top: 0.75rem;
text-align: center;
width: 16.188rem;
}