.container-header {
    align-items: center;
    background-color:#2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 7.313rem;
    margin: 0 auto;
}

.logo-header--img {
    padding-left: 5.125rem;
}

.logo-header--img:hover {
    transform: scale(1.02);
}

.nav {
    padding-right: 6.438rem;
}

.nav-items {
    color: #FDFDFD;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 2.5rem;
    text-transform: uppercase;
}


.container-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto img"
                         "texto2 img "                                
    ;
    padding-bottom: 5.625rem;
}

.top-title {
    align-self: center;
    color: #FF4081;
    font-size: 3.438rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    justify-self: end;
    grid-area: texto;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-top: 4.625rem;
    width: 28.813rem;
  
}

.top-text {
    align-self: flex-start;
    color:#000000;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    justify-self: end;
    grid-area: texto2;
    margin-top: 0;
    margin-bottom: 3rem;
    width: 28.813rem;
    height: 6.875rem;
}

.top-img {
    grid-area: img;
    padding-top: 5rem;
    padding-left: 5rem;

}

.container-cursos {
    background: #f7f7f7;
    padding-top: 4.5rem;
}

.container-cursos:last-child {
    padding-bottom: 5rem;
}

.container-cursos-title {
    color:#FF4081;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.75rem;
    margin-bottom:0;
    padding-top: 3rem;
    padding-left: 5rem;
    
}

.container-cursos-text {
    color:#555555;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    padding: 40px 0 5rem 5rem;
    margin-top: 0;
}


.cursos-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: "img card";
    gap: 0 53px;
    margin: 0 auto;
    width: 68.75rem;
    padding: 0 0 0 0;
}


.curso-name {
    color:#FF4081;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-size:  2.188rem;
    margin-top: 0;
}

.curso-text {
    color:#000000;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 26.688rem;
}


.line-cards {
    background-color:  #C4C4C4;
    border: none;
    height: 0.188rem;
    margin: 5.625rem auto;
    width: 1100px;
}


.container-footer {
    background-color:#419488;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo nav aside";
    max-width: 1440px;
    min-height: 12.938rem;
    margin: 0 auto;
}

.footer-logo {
align-self: center;
grid-area: logo;
margin-left: 3rem;
}

.footer-logo:hover {
    transform: scale(1.03);
}


.footer-logo-link {
    align-self: center;
    grid-area: logo;
}


.footer-nav {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.6rem;
grid-area: nav;
}

.footer-nav-links {
color: #FFFFFF;
font-size: 1.25rem;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
line-height: 1.25rem;
}

.footer-nav-links:hover {
    transform: scale(1.1);
}


.footer-other {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.6rem;
grid-area: aside;
}

.footer-other-link {
border: 0.13rem solid #FFFFFF;
border-radius: 3.875rem;
color: #FFFFFF;
font-size: 1.25rem;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
height: 3.188rem;
line-height: 1.25rem;
padding-top: 0.75rem;
text-align: center;
width: 16.188rem;
}

.footer-other-link:hover {
    transform: scale(1.08);
}

@media screen and (max-width:968px) {
    .nav {
        padding-right: 0;
    }

    
    .container-top {
        grid-template-columns: 1fr;
        grid-template-areas:
            "texto"
            "texto2";
        gap: 2rem;
    }

    .top-title {
        justify-self: center;
        font-size: 2.438rem;
        text-align: center;
        width: 40rem;

    }

    .top-text {
        justify-self: center;
        text-align: center;
        width: 40rem;
        padding: 0 0.5rem;
    }
    
    .top-img {
        display: none;
    }

    .cursos-card {
        grid-template-columns: 1fr;
        gap: 0 53px;
        width: 40rem;
        text-align: center;
        margin: 0 auto;
      
    }

    .cursos-card video {
        width: 40rem; 
        margin: auto;
    }

    .cursos-card-wrapper {
        text-align: center;
    }

    .curso-name {
        padding-top:2rem;
        width: 40rem; 
    }

    .curso-text {
        margin: 0 auto;
        width: 40rem; 

    }

    .line-cards {
        width:40rem;
        margin: 3rem auto;
    }

    .footer-other {
        padding-right: 2.5rem;
    }

    .footer-other-link {
        width: 12.118rem;
    }
 
 }

@media screen and (max-width:480px) {
    .container-header {
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 0.5rem;
    }
 
    .logo-header--img {
        padding: 0;
        padding-top: 1.25rem;
    }
 
    .nav {
        padding: 0;
        padding-bottom: 0.8rem;
    }
 
    .nav-items{
        margin-right: 0.2rem;
        font-size: 1rem;
    }

    
    .container-top {
        grid-template-columns: 1fr;
        grid-template-areas:
            "texto"
            "texto2";
        gap: 2rem;
    }

    .top-title {
        font-size: 2.438rem;
        text-align: center;
        width: 22.813rem;

    }

    .top-text {
        text-align: center;
        width: 22.813rem;
        padding: 0 0.5rem;
    }
    
    .top-img {
        display: none;
    }

    .cursos-card {
        grid-template-columns: 1fr;
        gap: 0 53px;
        width: 29.375rem;
        text-align: center;
        margin: 0 auto;
        max-width: 23.438rem;
    }

    .cursos-card video {
        width: 22.813rem; 
        margin: auto;
    }

    .cursos-card-wrapper {
        text-align: center;
    }

    .curso-name {
        padding-top:2rem;
        width: 22.813rem; 
    }

    .curso-text {
        margin: 0 auto;
        width: 22.813rem; 

    }

    .line-cards {
        width: 22rem;
        margin: 3rem auto;
    }

     .container-footer {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-areas: 
         "logo" 
         "nav" 
         "aside";
     }
 
     .footer-logo {
         align-items: center;
         justify-self: center;
         margin-left: 0;
         padding: 1rem 0;
     }
 
     .footer-nav {
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap: 1.6rem;
         padding: 1rem 0;
     }

     .footer-logo-link {
        text-align: center;
    }
 
     .footer-other {
         padding: 2rem 0;
     }
 
 }